* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none; }

body {
  background-image: url(../Assets/img/fondo.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

button {
  align-items: center;
  background-color: #161616;
  border: 2px solid #161616;
  box-sizing: border-box;
  color: #D3C6B5;
  cursor: pointer;
  display: inline-flex;
  fill: #161616;
  font-family: Lora, serif;
  font-size: 20px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: 1pt;
  line-height: 24px;
  min-width: 80px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation; }
  button:hover {
    background-color: #92836F;
    border-color: #92836F;
    fill: #92836F; }

@media screen and (max-width: 1200px) {
  button {
    font-size: 15px; } }

@media screen and (max-width: 1025px) {
  button {
    font-size: 12px;
    height: 40px; } }

@media screen and (max-width: 768px) {
  button {
    font-size: 10px;
    min-height: 35px;
    line-height: 15px;
    min-width: 50px;
    padding: 0 14px; } }

@media screen and (max-width: 625px) {
  button {
    font-size: 9px;
    min-height: 30px;
    padding: 0 17px; } }

@media screen and (max-width: 480px) {
  button {
    font-size: 7px;
    min-height: 25px; } }

header {
  background-image: url(../Assets/img/barra.jpg);
  position: sticky;
  top: 0;
  z-index: 1; }
  header .logohalsey {
    color: #D3C6B5;
    font-family: Lora, serif;
    font-weight: 500;
    font-size: 30pt;
    letter-spacing: 1pt;
    position: absolute;
    left: 0;
    right: 0;
    top: 7px;
    margin-left: auto;
    margin-right: auto;
    width: 162px; }
  @media screen and (max-width: 1025px) {
    header .logohalsey {
      color: #D3C6B5;
      font-family: Lora, serif;
      font-weight: 500;
      font-size: 25pt;
      letter-spacing: 1pt;
      position: absolute;
      left: 0;
      right: 0;
      top: 10px;
      margin-left: auto;
      margin-right: auto;
      width: 136px; } }
  @media screen and (max-width: 625px) {
    header .logohalsey {
      color: #D3C6B5;
      font-family: Lora, serif;
      font-weight: 500;
      font-size: 20pt;
      letter-spacing: 1pt;
      position: absolute;
      left: 0;
      right: 0;
      top: 9px;
      margin-left: auto;
      margin-right: auto;
      width: 110px; } }
  @media screen and (max-width: 480px) {
    header .logohalsey {
      color: #D3C6B5;
      font-family: Lora, serif;
      font-weight: 500;
      font-size: 12pt;
      letter-spacing: 1pt;
      position: absolute;
      left: 0;
      right: 0;
      top: 5px;
      margin-left: auto;
      margin-right: auto;
      width: 69px; } }
  header a:hover {
    text-decoration: none; }
  header nav .menu {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: auto;
    grid-template-areas: "music video . tour subscribe";
    margin: 0px; }
    header nav .menu li.music {
      grid-area: music;
      text-decoration: none;
      color: #92836F;
      font-family: Lora, serif;
      font-size: 16pt;
      margin: 22px auto 22px auto; }
    header nav .menu li.video {
      grid-area: video;
      text-decoration: none;
      color: #92836F;
      font-family: Lora, serif;
      font-size: 16pt;
      margin: 22px auto 22px auto; }
    header nav .menu li.tour {
      grid-area: tour;
      text-decoration: none;
      color: #92836F;
      font-family: Lora, serif;
      font-size: 16pt;
      margin: 22px auto 22px auto; }
    header nav .menu li.subscribe {
      grid-area: subscribe;
      text-decoration: none;
      color: #92836F;
      font-family: Lora, serif;
      font-size: 16pt;
      margin: 22px auto 22px auto; }
    @media screen and (max-width: 1025px) {
      header nav .menu li.music {
        grid-area: music;
        text-decoration: none;
        color: #92836F;
        font-family: Lora, serif;
        font-size: 14pt;
        margin: 20px auto 20px auto; }
      header nav .menu li.video {
        grid-area: video;
        text-decoration: none;
        color: #92836F;
        font-family: Lora, serif;
        font-size: 14pt;
        margin: 20px auto 20px auto; }
      header nav .menu li.tour {
        grid-area: tour;
        text-decoration: none;
        color: #92836F;
        font-family: Lora, serif;
        font-size: 14pt;
        margin: 20px auto 20px auto; }
      header nav .menu li.subscribe {
        grid-area: subscribe;
        text-decoration: none;
        color: #92836F;
        font-family: Lora, serif;
        font-size: 14pt;
        margin: 20px auto 20px auto; } }
    @media screen and (max-width: 625px) {
      header nav .menu li.music {
        grid-area: music;
        text-decoration: none;
        color: #92836F;
        font-family: Lora, serif;
        font-size: 11pt;
        margin: 18px auto 18px auto; }
      header nav .menu li.video {
        grid-area: video;
        text-decoration: none;
        color: #92836F;
        font-family: Lora, serif;
        font-size: 11pt;
        margin: 18px auto 18px auto; }
      header nav .menu li.tour {
        grid-area: tour;
        text-decoration: none;
        color: #92836F;
        font-family: Lora, serif;
        font-size: 11pt;
        margin: 18px auto 18px auto; }
      header nav .menu li.subscribe {
        grid-area: subscribe;
        text-decoration: none;
        color: #92836F;
        font-family: Lora, serif;
        font-size: 11pt;
        margin: 18px auto 18px auto; } }
    @media screen and (max-width: 480px) {
      header nav .menu li.music {
        grid-area: music;
        text-decoration: none;
        color: #92836F;
        font-family: Lora, serif;
        font-size: 8pt;
        margin: 10px auto 10px auto; }
      header nav .menu li.video {
        grid-area: video;
        text-decoration: none;
        color: #92836F;
        font-family: Lora, serif;
        font-size: 8pt;
        margin: 10px auto 10px auto; }
      header nav .menu li.tour {
        grid-area: tour;
        text-decoration: none;
        color: #92836F;
        font-family: Lora, serif;
        font-size: 8pt;
        margin: 10px auto 10px auto; }
      header nav .menu li.subscribe {
        grid-area: subscribe;
        text-decoration: none;
        color: #92836F;
        font-family: Lora, serif;
        font-size: 8pt;
        margin: 10px auto 10px auto;
        width: auto; } }
    header nav .menu a.boton {
      color: #92836F; }
      header nav .menu a.boton:visited {
        text-decoration: none;
        color: #92836F; }
      header nav .menu a.boton:hover {
        font-style: italic;
        color: #D3C6B5; }

footer {
  background-image: url(../Assets/img/barra2.jpg);
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  footer .insta {
    position: relative;
    height: 45px;
    width: auto;
    margin: 0px 40px 0px 0px;
    padding-top: 8px; }
    footer .insta:hover {
      opacity: 0.3; }
  footer .face {
    position: relative;
    height: 45px;
    width: auto;
    padding-top: 8px;
    margin: 0px 40px 0px 40px; }
    footer .face:hover {
      opacity: 0.3; }
  footer .twitter {
    position: relative;
    height: 42px;
    width: auto;
    padding-top: 8px;
    margin: 0px 40px 0px 40px; }
    footer .twitter:hover {
      opacity: 0.3; }
  footer .youtube {
    position: relative;
    height: 45px;
    width: auto;
    padding-top: 8px;
    margin: 0px 40px 0px 40px; }
    footer .youtube:hover {
      opacity: 0.3; }
  footer .spotify {
    position: relative;
    height: 45px;
    width: auto;
    padding-top: 8px;
    margin: 0px 40px 0px 40px; }
    footer .spotify:hover {
      opacity: 0.3; }

@media screen and (max-width: 1025px) {
  footer {
    background-image: url(../Assets/img/barra2.jpg);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center; }
    footer .insta {
      position: relative;
      height: 35px;
      width: auto;
      margin: 0px 25px 0px 0px;
      padding-top: 5px; }
    footer .face {
      position: relative;
      height: 35px;
      width: auto;
      padding-top: 5px;
      margin: 0px 25px 0px 25px; }
    footer .twitter {
      position: relative;
      height: 32px;
      width: auto;
      padding-top: 5px;
      margin: 0px 25px 0px 25px; }
    footer .youtube {
      position: relative;
      height: 35px;
      width: auto;
      padding-top: 5px;
      margin: 0px 25px 0px 25px; }
    footer .spotify {
      position: relative;
      height: 35px;
      width: auto;
      padding-top: 5px;
      margin: 0px 25px 0px 25px; } }

@media screen and (max-width: 625px) {
  footer {
    background-image: url(../Assets/img/barra2.jpg);
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center; }
    footer .insta {
      position: relative;
      height: 30px;
      width: auto;
      margin: 0px 20px 0px 0px;
      padding-top: 5px; }
    footer .face {
      position: relative;
      height: 30px;
      width: auto;
      padding-top: 5px;
      margin: 0px 20px 0px 20px; }
    footer .twitter {
      position: relative;
      height: 28px;
      width: auto;
      padding-top: 5px;
      margin: 0px 20px 0px 20px; }
    footer .youtube {
      position: relative;
      height: 30px;
      width: auto;
      padding-top: 5px;
      margin: 0px 20px 0px 20px; }
    footer .spotify {
      position: relative;
      height: 30px;
      width: auto;
      padding-top: 5px;
      margin: 0px 20px 0px 20px; } }

@media screen and (max-width: 480px) {
  footer {
    background-image: url(../Assets/img/barra2.jpg);
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center; }
    footer .insta {
      position: relative;
      height: 25px;
      width: auto;
      margin: 0px 10px 5px 0px;
      padding-top: 5px; }
    footer .face {
      position: relative;
      height: 25px;
      width: auto;
      padding-top: 5px;
      margin: 0px 15px 5px 15px; }
    footer .twitter {
      position: relative;
      height: 23px;
      width: auto;
      padding-top: 5px;
      margin: 0px 15px 5px 15px; }
    footer .youtube {
      position: relative;
      height: 25px;
      width: auto;
      padding-top: 5px;
      margin: 0px 15px 5px 15px; }
    footer .spotify {
      position: relative;
      height: 25px;
      width: auto;
      padding-top: 5px;
      margin: 0px 15px 5px 15px; } }

main .portada {
  width: 100%;
  object-fit: fill; }

@media screen and (max-width: 480px) {
  main .portada {
    width: 100%;
    object-fit: fill;
    margin-bottom: 40px; } }

main .albumpromo {
  display: grid;
  grid-template-columns: auto 600px auto;
  grid-template-rows: 80px 600px 80px;
  grid-template-areas: "texto texto texto" "cruz1 tapa cruz2" "boton boton boton"; }
  main .albumpromo .simbolo1 {
    grid-area: cruz1;
    margin: auto; }
  main .albumpromo .IICHLIWP {
    grid-area: texto;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-family: Lora, serif;
    font-size: 15pt;
    color: #D3C6B5; }
  main .albumpromo .cover {
    grid-area: tapa;
    margin: auto; }
  main .albumpromo .simbolo2 {
    grid-area: cruz2;
    margin: auto; }
  main .albumpromo .outnow {
    grid-area: boton;
    margin: auto;
    width: 250px; }

@media screen and (max-width: 1200px) {
  main .albumpromo {
    display: grid;
    grid-template-columns: auto 540px auto;
    grid-template-rows: 50px 540px 50px;
    grid-template-areas: "texto texto texto" "cruz1 tapa cruz2" "boton boton boton"; }
    main .albumpromo .simbolo1 {
      grid-area: cruz1;
      margin: auto;
      width: 100px;
      height: auto; }
    main .albumpromo .IICHLIWP {
      grid-area: texto;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      font-family: Lora, serif;
      font-size: 12pt;
      color: #D3C6B5; }
    main .albumpromo .cover {
      grid-area: tapa;
      margin: auto;
      width: 500px;
      height: auto; }
    main .albumpromo .simbolo2 {
      grid-area: cruz2;
      margin: auto;
      width: 100px;
      height: auto; }
    main .albumpromo .outnow {
      grid-area: boton;
      margin: auto;
      width: 190px; } }

@media screen and (max-width: 1025px) {
  main .albumpromo {
    display: grid;
    grid-template-columns: auto 440px auto;
    grid-template-rows: 50px 440px 50px;
    grid-template-areas: "texto texto texto" "cruz1 tapa cruz2" "boton boton boton"; }
    main .albumpromo .cover {
      grid-area: tapa;
      margin: auto;
      width: 400px;
      height: auto; }
    main .albumpromo .outnow {
      grid-area: boton;
      margin: auto;
      width: 165px; } }

@media screen and (max-width: 768px) {
  main .albumpromo {
    display: grid;
    grid-template-columns: auto 290px auto;
    grid-template-rows: 50px 270px 50px;
    grid-template-areas: "texto texto texto" "cruz1 tapa cruz2" "boton boton boton"; }
    main .albumpromo .simbolo1 {
      grid-area: cruz1;
      margin: auto;
      width: 70px;
      height: auto; }
    main .albumpromo .IICHLIWP {
      grid-area: texto;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      font-family: Lora, serif;
      font-size: 9pt;
      color: #D3C6B5; }
    main .albumpromo .cover {
      grid-area: tapa;
      margin: auto;
      width: 250px;
      height: auto; }
    main .albumpromo .simbolo2 {
      grid-area: cruz2;
      margin: auto;
      width: 70px;
      height: auto; }
    main .albumpromo .outnow {
      grid-area: boton;
      margin: auto;
      width: 145px; } }

@media screen and (max-width: 625px) {
  main .albumpromo {
    display: grid;
    grid-template-columns: auto 240px auto;
    grid-template-rows: 50px 220px 50px;
    grid-template-areas: "texto texto texto" "cruz1 tapa cruz2" "boton boton boton"; }
    main .albumpromo .simbolo1 {
      grid-area: cruz1;
      margin: auto;
      width: 60px;
      height: auto; }
    main .albumpromo .IICHLIWP {
      grid-area: texto;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      font-family: Lora, serif;
      font-size: 8pt;
      color: #D3C6B5; }
    main .albumpromo .cover {
      grid-area: tapa;
      margin: auto;
      width: 200px;
      height: auto; }
    main .albumpromo .simbolo2 {
      grid-area: cruz2;
      margin: auto;
      width: 60px;
      height: auto; }
    main .albumpromo .outnow {
      grid-area: boton;
      margin: auto;
      width: 134px;
      height: 25px; } }

@media screen and (max-width: 480px) {
  main .albumpromo {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 80px 18px 220px 35px 80px;
    grid-template-areas: "cruz1" "texto" "tapa" "boton" "cruz2";
    margin-bottom: 30px; }
    main .albumpromo .simbolo1 {
      grid-area: cruz1;
      display: flex;
      justify-content: center;
      width: 50px;
      height: auto; }
    main .albumpromo .simbolo2 {
      grid-area: cruz2;
      display: flex;
      justify-content: center;
      width: 50px;
      height: auto; } }

main .pleipromo {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 700px;
  grid-template-areas: "poster info"; }
  main .pleipromo .posterpeli {
    grid-area: poster;
    display: flex;
    justify-content: flex-end;
    margin: auto 0px auto auto; }
  main .pleipromo .infopeli {
    grid-area: info;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    main .pleipromo .infopeli .nombrepeli {
      text-align: center;
      font-family: Lora, serif;
      color: #D3C6B5;
      font-size: 45pt;
      letter-spacing: 1pt;
      width: 671px; }
    main .pleipromo .infopeli .streaming {
      margin: 15px;
      color: #D3C6B5;
      font-family: Lora, serif;
      display: flex;
      justify-content: center; }
    main .pleipromo .infopeli .hbo {
      margin: 15px 0px 5px 0px;
      width: 250px; }
    main .pleipromo .infopeli .trailer {
      margin: 5px 0px 0px 0px;
      width: 250px; }

@media screen and (max-width: 1200px) {
  main .pleipromo {
    display: grid;
    grid-template-columns: 40% auto;
    grid-template-rows: 600px;
    grid-template-areas: "poster info"; }
    main .pleipromo .posterpeli {
      grid-area: poster;
      display: flex;
      justify-content: flex-end;
      margin: auto 0px auto auto;
      width: 310px;
      height: auto; }
    main .pleipromo .infopeli .nombrepeli {
      text-align: center;
      font-family: Lora, serif;
      color: #D3C6B5;
      font-size: 36pt;
      letter-spacing: 1pt;
      width: 573px; }
    main .pleipromo .infopeli .hbo {
      margin: 10px 0px 5px 0px;
      width: 190px; }
    main .pleipromo .infopeli .trailer {
      margin: 5px 0px 0px 0px;
      width: 190px; } }

@media screen and (max-width: 1025px) {
  main .pleipromo {
    display: grid;
    grid-template-columns: 37% auto;
    grid-template-rows: 500px;
    grid-template-areas: "poster info"; }
    main .pleipromo .posterpeli {
      grid-area: poster;
      display: flex;
      justify-content: flex-end;
      margin: auto 0px auto auto;
      width: 260px;
      height: auto; }
    main .pleipromo .infopeli .nombrepeli {
      text-align: center;
      font-family: Lora, serif;
      color: #D3C6B5;
      font-size: 30pt;
      letter-spacing: 1pt;
      width: 482px; }
    main .pleipromo .infopeli .streaming {
      margin: 10px;
      color: #D3C6B5;
      font-family: Lora, serif;
      font-size: 11pt;
      display: flex;
      justify-content: center; }
    main .pleipromo .infopeli .hbo {
      margin: 10px 0px 5px 0px;
      width: 160px; }
    main .pleipromo .infopeli .trailer {
      margin: 5px 0px 0px 0px;
      width: 160px; } }

@media screen and (max-width: 768px) {
  main .pleipromo {
    display: grid;
    grid-template-columns: 37% auto;
    grid-template-rows: 400px;
    grid-template-areas: "poster info"; }
    main .pleipromo .posterpeli {
      grid-area: poster;
      display: flex;
      justify-content: flex-end;
      margin: auto 0px auto auto;
      width: 200px;
      height: auto; }
    main .pleipromo .infopeli .nombrepeli {
      text-align: center;
      font-family: Lora, serif;
      color: #D3C6B5;
      font-size: 24pt;
      letter-spacing: 1pt;
      width: 392px; }
    main .pleipromo .infopeli .streaming {
      margin: 10px;
      color: #D3C6B5;
      font-family: Lora, serif;
      font-size: 9pt;
      display: flex;
      justify-content: center; }
    main .pleipromo .infopeli .hbo {
      margin: 10px 0px 5px 0px;
      width: 140px; }
    main .pleipromo .infopeli .trailer {
      margin: 5px 0px 0px 0px;
      width: 140px; } }

@media screen and (max-width: 625px) {
  main .pleipromo {
    display: grid;
    grid-template-columns: 37% auto;
    grid-template-rows: 300px;
    grid-template-areas: "poster info"; }
    main .pleipromo .posterpeli {
      grid-area: poster;
      display: flex;
      justify-content: center;
      align-content: center;
      width: 160px;
      height: auto; }
    main .pleipromo .infopeli .nombrepeli {
      text-align: center;
      font-family: Lora, serif;
      color: #D3C6B5;
      font-size: 18pt;
      letter-spacing: 1pt;
      width: 300px; }
    main .pleipromo .infopeli .streaming {
      margin: 10px;
      color: #D3C6B5;
      font-family: Lora, serif;
      font-size: 8pt;
      display: flex;
      justify-content: center; }
    main .pleipromo .infopeli .hbo {
      margin: 10px 0px 5px 0px;
      width: 130px;
      height: 25px; }
    main .pleipromo .infopeli .trailer {
      margin: 5px 0px 0px 0px;
      width: 130px;
      height: 25px; } }

@media screen and (max-width: 480px) {
  main .pleipromo {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 270px 200px;
    grid-template-areas: "poster" "info";
    margin-bottom: 30px; }
    main .pleipromo .posterpeli {
      grid-area: poster;
      display: flex;
      justify-content: center;
      align-content: center;
      margin: auto;
      width: 160px;
      height: auto; }
    main .pleipromo .infopeli .hbo {
      margin: 5px 0px 0px 0px;
      height: 25px;
      width: 130px; } }

main .link {
  color: #D3C6B5; }
  main .link:hover {
    text-decoration: none; }

main .carousel {
  position: relative;
  width: 100%;
  margin-top: 70px;
  object-fit: fill; }

@media screen and (max-width: 1200px) {
  main .carousel {
    position: relative;
    width: 100%;
    margin-top: 50px;
    object-fit: fill; } }

@media screen and (max-width: 768px) {
  main .carousel {
    position: relative;
    width: 100%;
    margin-top: 40px;
    object-fit: fill; } }

@media screen and (max-width: 625px) {
  main .carousel {
    position: relative;
    width: 100%;
    margin-top: 30px;
    object-fit: fill; } }

main .promolatest {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 550px;
  grid-template-areas: "cover2 info2"; }
  main .promolatest .cover2 {
    grid-area: cover2;
    margin: auto auto auto 100px;
    width: 400px;
    height: auto; }
  main .promolatest .infolatest {
    grid-area: info2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    main .promolatest .infolatest .latest {
      font-family: Lora, serif;
      font-size: 50pt;
      color: #D3C6B5;
      letter-spacing: 1pt;
      margin: 10px; }
    main .promolatest .infolatest .reproductor1 {
      height: 80px;
      width: 583px; }
    main .promolatest .infolatest .streamnow {
      margin: 10px; }

@media screen and (min-width: 1900px) {
  main .promolatest {
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 675px;
    grid-template-areas: "cover2 info2"; }
    main .promolatest .cover2 {
      grid-area: cover2;
      margin: auto auto auto 225px;
      width: 475px;
      height: auto; }
    main .promolatest .infolatest .latest {
      font-family: Lora, serif;
      font-size: 65pt;
      color: #D3C6B5;
      letter-spacing: 1pt;
      margin: 10px; }
    main .promolatest .infolatest .reproductor1 {
      height: 80px;
      width: 737px; } }

@media screen and (min-width: 1600px) and (max-width: 1899px) {
  main .promolatest {
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 600px;
    grid-template-areas: "cover2 info2"; }
    main .promolatest .cover2 {
      grid-area: cover2;
      margin: auto auto auto 200px;
      width: 425px;
      height: auto; }
    main .promolatest .infolatest .latest {
      font-family: Lora, serif;
      font-size: 55pt;
      color: #D3C6B5;
      letter-spacing: 1pt;
      margin: 10px; }
    main .promolatest .infolatest .reproductor1 {
      height: 80px;
      width: 632px; } }

@media screen and (min-width: 1400px) and (max-width: 1599px) {
  main .promolatest {
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 550px;
    grid-template-areas: "cover2 info2"; }
    main .promolatest .cover2 {
      grid-area: cover2;
      margin: auto auto auto 150px;
      width: 400px;
      height: auto; } }

@media screen and (max-width: 1200px) {
  main .promolatest {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 500px;
    grid-template-areas: "cover2 info2"; }
    main .promolatest .cover2 {
      grid-area: cover2;
      margin: auto auto auto 100px;
      width: 350px;
      height: auto; }
    main .promolatest .infolatest .latest {
      font-family: Lora, serif;
      font-size: 40pt;
      color: #D3C6B5;
      letter-spacing: 1pt;
      margin: 10px; }
    main .promolatest .infolatest .reproductor1 {
      height: 80px;
      width: 483px; } }

@media screen and (max-width: 1025px) {
  main .promolatest {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 450px;
    grid-template-areas: "cover2 info2";
    margin-top: 50px; }
    main .promolatest .cover2 {
      grid-area: cover2;
      margin: auto auto auto 80px;
      width: 300px;
      height: auto; }
    main .promolatest .infolatest .latest {
      font-family: Lora, serif;
      font-size: 35pt;
      color: #D3C6B5;
      letter-spacing: 1pt;
      margin: 10px; }
    main .promolatest .infolatest .reproductor1 {
      height: 80px;
      width: 427px; } }

@media screen and (max-width: 920px) {
  main .promolatest {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 400px;
    grid-template-areas: "cover2 info2";
    margin-top: 30px; }
    main .promolatest .cover2 {
      grid-area: cover2;
      margin: auto auto auto 50px;
      width: 250px;
      height: auto; }
    main .promolatest .infolatest .latest {
      font-family: Lora, serif;
      font-size: 30pt;
      color: #D3C6B5;
      letter-spacing: 1pt;
      margin: 10px; }
    main .promolatest .infolatest .reproductor1 {
      height: 80px;
      width: 372px; } }

@media screen and (max-width: 768px) {
  main .promolatest {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 300px 200px;
    grid-template-areas: "cover2"  "info2";
    margin-top: 50px; }
    main .promolatest .cover2 {
      grid-area: cover2;
      margin: auto;
      width: 300px;
      height: auto; }
    main .promolatest .infolatest {
      grid-area: info2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      main .promolatest .infolatest .latest {
        font-family: Lora, serif;
        font-size: 37pt;
        color: #D3C6B5;
        letter-spacing: 1pt;
        margin-bottom: 10px; }
      main .promolatest .infolatest .reproductor1 {
        height: 80px;
        width: 470px; }
      main .promolatest .infolatest .streamnow {
        margin: 10px;
        height: 50px; } }

@media screen and (max-width: 590px) {
  main .promolatest .infolatest .latest {
    font-family: Lora, serif;
    font-size: 32pt;
    color: #D3C6B5;
    letter-spacing: 1pt;
    margin-bottom: 10px; }
  main .promolatest .infolatest .reproductor1 {
    height: 80px;
    width: 392px; } }

@media screen and (max-width: 480px) {
  main .promolatest {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 250px 160px;
    grid-template-areas: "cover2"  "info2";
    margin-top: 50px; }
    main .promolatest .cover2 {
      grid-area: cover2;
      margin: auto;
      width: 220px;
      height: auto; }
    main .promolatest .infolatest .latest {
      font-family: Lora, serif;
      font-size: 23pt;
      color: #D3C6B5;
      letter-spacing: 1pt;
      margin-bottom: 10px; }
    main .promolatest .infolatest .reproductor1 {
      height: 80px;
      width: 295px; }
    main .promolatest .infolatest .streamnow {
      margin: 10px;
      height: 40px; } }

main .releases {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 450px 450px;
  grid-template-areas: "album1 album2 album3" "album4 album5 album6";
  margin-bottom: 100px; }
  main .releases .stream1 {
    display: flex;
    justify-content: center;
    align-items: center; }
    main .releases .stream1 .containerhover {
      position: relative; }
      main .releases .stream1 .containerhover .album1 {
        grid-area: album1; }
      main .releases .stream1 .containerhover .album2 {
        grid-area: album2; }
      main .releases .stream1 .containerhover .album3 {
        grid-area: album3; }
      main .releases .stream1 .containerhover .album4 {
        grid-area: album4; }
      main .releases .stream1 .containerhover .album5 {
        grid-area: album5; }
      main .releases .stream1 .containerhover .album6 {
        grid-area: album6; }
      main .releases .stream1 .containerhover .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: #D3C6B5;
        font-family: Lora, serif;
        text-decoration: none;
        background: radial-gradient(circle, rgba(110, 0, 0, 0.8) 0%, rgba(22, 0, 0, 0.7) 100%);
        font-size: 20pt;
        letter-spacing: 1pt;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: opacity 0.5s; }
        main .releases .stream1 .containerhover .overlay:hover {
          opacity: 1; }

@media screen and (max-width: 1200px) {
  main .releases {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 400px 400px;
    grid-template-areas: "album1 album2 album3" "album4 album5 album6";
    margin-bottom: 50px; }
    main .releases .stream1 .containerhover {
      position: relative; }
      main .releases .stream1 .containerhover .album1 {
        grid-area: album1;
        width: 300px;
        height: auto; }
      main .releases .stream1 .containerhover .album2 {
        grid-area: album2;
        width: 300px;
        height: auto; }
      main .releases .stream1 .containerhover .album3 {
        grid-area: album3;
        width: 300px;
        height: auto; }
      main .releases .stream1 .containerhover .album4 {
        grid-area: album4;
        width: 300px;
        height: auto; }
      main .releases .stream1 .containerhover .album5 {
        grid-area: album5;
        width: 300px;
        height: auto; }
      main .releases .stream1 .containerhover .album6 {
        grid-area: album6;
        width: 300px;
        height: auto; } }

@media screen and (max-width: 1025px) {
  main .releases {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 350px 350px;
    grid-template-areas: "album1 album2 album3" "album4 album5 album6";
    margin-bottom: 50px; }
    main .releases .stream1 .containerhover {
      position: relative; }
      main .releases .stream1 .containerhover .album1 {
        grid-area: album1;
        width: 250px;
        height: auto; }
      main .releases .stream1 .containerhover .album2 {
        grid-area: album2;
        width: 250px;
        height: auto; }
      main .releases .stream1 .containerhover .album3 {
        grid-area: album3;
        width: 250px;
        height: auto; }
      main .releases .stream1 .containerhover .album4 {
        grid-area: album4;
        width: 250px;
        height: auto; }
      main .releases .stream1 .containerhover .album5 {
        grid-area: album5;
        width: 250px;
        height: auto; }
      main .releases .stream1 .containerhover .album6 {
        grid-area: album6;
        width: 250px;
        height: auto; }
      main .releases .stream1 .containerhover .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: #D3C6B5;
        font-family: Lora, serif;
        text-decoration: none;
        background: radial-gradient(circle, rgba(110, 0, 0, 0.7) 0%, rgba(22, 0, 0, 0.6) 100%);
        font-size: 16pt;
        letter-spacing: 1pt;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: opacity 0.5s; }
        main .releases .stream1 .containerhover .overlay:hover {
          opacity: 1; } }

@media screen and (max-width: 920px) {
  main .releases {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 290px 290px;
    grid-template-areas: "album1 album2 album3" "album4 album5 album6";
    margin-bottom: 50px; }
    main .releases .stream1 .containerhover {
      position: relative; }
      main .releases .stream1 .containerhover .album1 {
        grid-area: album1;
        width: 200px;
        height: auto; }
      main .releases .stream1 .containerhover .album2 {
        grid-area: album2;
        width: 200px;
        height: auto; }
      main .releases .stream1 .containerhover .album3 {
        grid-area: album3;
        width: 200px;
        height: auto; }
      main .releases .stream1 .containerhover .album4 {
        grid-area: album4;
        width: 200px;
        height: auto; }
      main .releases .stream1 .containerhover .album5 {
        grid-area: album5;
        width: 200px;
        height: auto; }
      main .releases .stream1 .containerhover .album6 {
        grid-area: album6;
        width: 200px;
        height: auto; } }

@media screen and (max-width: 768px) {
  main .releases {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 320px 320px 320px;
    grid-template-areas: "album1 album2"  "album3 album4" "album5 album6";
    margin-bottom: 50px;
    margin-top: 50px; }
    main .releases .stream1 .containerhover {
      position: relative; }
      main .releases .stream1 .containerhover .album1 {
        grid-area: album1;
        width: 250px;
        height: auto; }
      main .releases .stream1 .containerhover .album2 {
        grid-area: album2;
        width: 250px;
        height: auto; }
      main .releases .stream1 .containerhover .album3 {
        grid-area: album3;
        width: 250px;
        height: auto; }
      main .releases .stream1 .containerhover .album4 {
        grid-area: album4;
        width: 250px;
        height: auto; }
      main .releases .stream1 .containerhover .album5 {
        grid-area: album5;
        width: 250px;
        height: auto; }
      main .releases .stream1 .containerhover .album6 {
        grid-area: album6;
        width: 250px;
        height: auto; }
      main .releases .stream1 .containerhover .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: #D3C6B5;
        font-family: Lora, serif;
        text-decoration: none;
        background: radial-gradient(circle, rgba(110, 0, 0, 0.7) 0%, rgba(22, 0, 0, 0.6) 100%);
        font-size: 15pt;
        letter-spacing: 1pt;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: opacity 0.5s; }
        main .releases .stream1 .containerhover .overlay:hover {
          opacity: 1; } }

@media screen and (max-width: 590px) {
  main .releases {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 250px 250px 250px;
    grid-template-areas: "album1 album2"  "album3 album4" "album5 album6";
    margin-bottom: 50px;
    margin-top: 50px; }
    main .releases .stream1 .containerhover {
      position: relative; }
      main .releases .stream1 .containerhover .album1 {
        grid-area: album1;
        width: 200px;
        height: auto; }
      main .releases .stream1 .containerhover .album2 {
        grid-area: album2;
        width: 200px;
        height: auto; }
      main .releases .stream1 .containerhover .album3 {
        grid-area: album3;
        width: 200px;
        height: auto; }
      main .releases .stream1 .containerhover .album4 {
        grid-area: album4;
        width: 200px;
        height: auto; }
      main .releases .stream1 .containerhover .album5 {
        grid-area: album5;
        width: 200px;
        height: auto; }
      main .releases .stream1 .containerhover .album6 {
        grid-area: album6;
        width: 200px;
        height: auto; } }

@media screen and (max-width: 480px) {
  main .releases {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 160px 160px 160px;
    grid-template-areas: "album1 album2"  "album3 album4" "album5 album6";
    margin-bottom: 50px;
    margin-top: 50px; }
    main .releases .stream1 .containerhover {
      position: relative; }
      main .releases .stream1 .containerhover .album1 {
        grid-area: album1;
        width: 140px;
        height: auto; }
      main .releases .stream1 .containerhover .album2 {
        grid-area: album2;
        width: 140px;
        height: auto; }
      main .releases .stream1 .containerhover .album3 {
        grid-area: album3;
        width: 140px;
        height: auto; }
      main .releases .stream1 .containerhover .album4 {
        grid-area: album4;
        width: 140px;
        height: auto; }
      main .releases .stream1 .containerhover .album5 {
        grid-area: album5;
        width: 140px;
        height: auto; }
      main .releases .stream1 .containerhover .album6 {
        grid-area: album6;
        width: 140px;
        height: auto; }
      main .releases .stream1 .containerhover .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: #D3C6B5;
        font-family: Lora, serif;
        text-decoration: none;
        background: radial-gradient(circle, rgba(110, 0, 0, 0.7) 0%, rgba(22, 0, 0, 0.6) 100%);
        font-size: 10pt;
        letter-spacing: 1pt;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: opacity 0.5s; }
        main .releases .stream1 .containerhover .overlay:hover {
          opacity: 1; } }

main .videos {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "vid1" "vid2" "vid3" "vid4";
  justify-content: center;
  margin: 58px 0px 58px 0px; }
  main .videos .vid1 {
    grid-area: vid1;
    width: 900px;
    height: 506px;
    margin: 50px; }
  main .videos .vid2 {
    grid-area: vid2;
    width: 900px;
    height: 506px;
    margin: 50px; }
  main .videos .vid3 {
    grid-area: vid3;
    width: 900px;
    height: 506px;
    margin: 50px; }
  main .videos .vid4 {
    grid-area: vid4;
    width: 900px;
    height: 506px;
    margin: 50px; }

@media screen and (max-width: 1025px) {
  main .videos .vid1 {
    grid-area: vid1;
    width: 650px;
    height: 366px;
    margin: 50px; }
  main .videos .vid2 {
    grid-area: vid2;
    width: 650px;
    height: 366px;
    margin: 50px; }
  main .videos .vid3 {
    grid-area: vid3;
    width: 650px;
    height: 366px;
    margin: 50px; }
  main .videos .vid4 {
    grid-area: vid4;
    width: 650px;
    height: 366px;
    margin: 50px; } }

@media screen and (max-width: 768px) {
  main .videos {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "vid1" "vid2" "vid3" "vid4";
    justify-content: center;
    margin: 30px 0px 30px 0px; }
    main .videos .vid1 {
      grid-area: vid1;
      width: 470px;
      height: 264px;
      margin: 40px; }
    main .videos .vid2 {
      grid-area: vid2;
      width: 470px;
      height: 264px;
      margin: 40px; }
    main .videos .vid3 {
      grid-area: vid3;
      width: 470px;
      height: 264px;
      margin: 40px; }
    main .videos .vid4 {
      grid-area: vid4;
      width: 470px;
      height: 264px;
      margin: 40px; } }

@media screen and (max-width: 550px) {
  main .videos {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "vid1" "vid2" "vid3" "vid4";
    justify-content: center;
    margin: 20px 0px 20px 0px; }
    main .videos .vid1 {
      grid-area: vid1;
      width: 400px;
      height: 225px;
      margin: 30px; }
    main .videos .vid2 {
      grid-area: vid2;
      width: 400px;
      height: 225px;
      margin: 30px; }
    main .videos .vid3 {
      grid-area: vid3;
      width: 400px;
      height: 225px;
      margin: 30px; }
    main .videos .vid4 {
      grid-area: vid4;
      width: 400px;
      height: 225px;
      margin: 30px; } }

@media screen and (max-width: 415px) {
  main .videos .vid1 {
    grid-area: vid1;
    width: 300px;
    height: 169px;
    margin: 40px 20px 20px 20px; }
  main .videos .vid2 {
    grid-area: vid2;
    width: 300px;
    height: 169px;
    margin: 20px; }
  main .videos .vid3 {
    grid-area: vid3;
    width: 300px;
    height: 169px;
    margin: 20px; }
  main .videos .vid4 {
    grid-area: vid4;
    width: 300px;
    height: 169px;
    margin: 20px 20px 40px 20px; } }

main div .bannertour {
  position: relative;
  margin-top: 34px;
  width: 100%;
  object-fit: fill; }

main .fechasgira {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden; }
  main .fechasgira .gira {
    color: #D3C6B5;
    font-family: Lora, serif;
    font-size: 18pt;
    border-spacing: 40px;
    border-collapse: separate; }
    main .fechasgira .gira tr td {
      padding-left: 50px;
      padding-right: 50px; }
      main .fechasgira .gira tr td .buy {
        font-size: 18pt;
        width: 130px; }

@media screen and (max-width: 1200px) {
  main .fechasgira .gira {
    color: #D3C6B5;
    font-family: Lora, serif;
    font-size: 16pt;
    border-spacing: 35px; }
    main .fechasgira .gira tr td {
      padding-left: 40px;
      padding-right: 40px; }
      main .fechasgira .gira tr td .buy {
        font-size: 16pt;
        width: 130px; } }

@media screen and (max-width: 1025px) {
  main .fechasgira .gira {
    color: #D3C6B5;
    font-family: Lora, serif;
    font-size: 14pt;
    border-spacing: 25px; }
    main .fechasgira .gira tr td {
      padding-left: 30px;
      padding-right: 30px; }
      main .fechasgira .gira tr td .buy {
        font-size: 14pt;
        width: 110px; } }

@media screen and (max-width: 768px) {
  main .fechasgira .gira {
    color: #D3C6B5;
    font-family: Lora, serif;
    font-size: 12pt;
    border-spacing: 20px; }
    main .fechasgira .gira tr td .buy {
      font-size: 12pt;
      width: 100px; } }

@media screen and (max-width: 625px) {
  main .fechasgira {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden; }
    main .fechasgira .gira {
      color: #D3C6B5;
      font-family: Lora, serif;
      font-size: 10pt;
      border-spacing: 10px; }
      main .fechasgira .gira tr td {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px; }
        main .fechasgira .gira tr td .buy {
          font-size: 10pt;
          height: 20px;
          width: 80px; } }

@media screen and (max-width: 480px) {
  main .fechasgira .gira {
    color: #D3C6B5;
    font-family: Lora, serif;
    font-size: 7pt;
    border-spacing: 5px; } }

@media screen and (max-width: 480px) {
  main .fechasgira .gira tr td {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px; }
    main .fechasgira .gira tr td .buy {
      font-size: 8pt;
      height: 10px;
      width: 60px; } }

main .subscribir {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 86px 0px 85px 0px; }
  main .subscribir .newsletter {
    display: flex;
    justify-content: center;
    margin: 0px 0px 50px 0px; }
    main .subscribir .newsletter .subscribe {
      font-size: 30pt;
      font-family: Lora, serif;
      letter-spacing: 1pt;
      color: #D3C6B5; }
  main .subscribir .formulario {
    position: relative;
    margin: auto; }
    main .subscribir .formulario .cajas {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      main .subscribir .formulario .cajas .form, main .subscribir .formulario .cajas .select {
        align-items: center;
        background-color: #161616;
        border: 2px solid #161616;
        box-sizing: border-box;
        color: #D3C6B5;
        cursor: pointer;
        display: inline-flex;
        fill: #161616;
        font-family: Lora, serif;
        font-size: 20px;
        font-weight: 600;
        height: 48px;
        justify-content: center;
        letter-spacing: 1pt;
        line-height: 24px;
        min-width: 80px;
        outline: 0;
        padding: 0 17px;
        text-align: center;
        text-decoration: none;
        transition: all .3s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        background-color: #460303;
        border: 0px;
        height: 60px;
        width: 420px;
        min-width: 140px;
        -moz-box-shadow: inset 0 0 10px #220000;
        -webkit-box-shadow: inset 0 0 10px #220000;
        box-shadow: inset 0 0 10px #220000;
        margin: 10px 0px 10px 0px; }
      main .subscribir .formulario .cajas .checkbox {
        font-family: Lora, serif;
        font-size: 9pt;
        color: #D3C6B5;
        position: relative; }
        main .subscribir .formulario .cajas .checkbox .check {
          vertical-align: middle;
          margin: 10px 0px 10px 0px; }

main .clearsend {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  main .clearsend .boton2 {
    align-items: center;
    background-color: #161616;
    border: 2px solid #161616;
    box-sizing: border-box;
    color: #D3C6B5;
    cursor: pointer;
    display: inline-flex;
    fill: #161616;
    font-family: Lora, serif;
    font-size: 20px;
    font-weight: 600;
    height: 48px;
    justify-content: center;
    letter-spacing: 1pt;
    line-height: 24px;
    min-width: 140px;
    outline: 0;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 20px 10px 20px 10px; }
    main .clearsend .boton2:hover {
      background-color: #92836F;
      border-color: #92836F;
      fill: #92836F; }

@media screen and (min-width: 1900px) {
  main .subscribir {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 201px 0px 150px 0px; } }

@media screen and (min-width: 1600px) and (max-width: 1899px) {
  main .subscribir {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 103px 0px 69px 0px; } }

@media screen and (min-width: 1500px) and (max-width: 1599px) {
  main .subscribir {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 89px 0px 46px 0px; } }

@media screen and (max-width: 1025px) {
  main .subscribir {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 382px 0px 382px 0px; } }

@media screen and (max-width: 768px) {
  main .subscribir {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 228px 0px 228px 0px; }
    main .subscribir .newsletter {
      display: flex;
      justify-content: center;
      margin: 0px 0px 30px 0px; }
      main .subscribir .newsletter .subscribe {
        font-size: 26pt;
        font-family: Lora, serif;
        letter-spacing: 1pt;
        color: #D3C6B5; }
    main .subscribir .formulario .cajas .form, main .subscribir .formulario .cajas .select {
      font-size: 18px;
      width: 390px;
      margin: 8px 0px 8px 0px; }
    main .subscribir .formulario .cajas .select {
      font-size: 18px;
      width: 390px;
      margin: 8px 0px 15px 0px; }
    main .subscribir .clearsend .boton2 {
      font-size: 18px;
      height: 46px;
      min-width: 120px;
      margin: 20px 10px 20px 10px; } }

@media screen and (max-width: 625px) {
  main .subscribir .newsletter .subscribe {
    text-align: center;
    font-size: 22pt;
    font-family: Lora, serif;
    letter-spacing: 1pt;
    color: #D3C6B5; } }

@media screen and (max-width: 480px) {
  main .subscribir {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 150px 0px 156px 0px; }
    main .subscribir .newsletter {
      display: flex;
      justify-content: center;
      margin: 0px 0px 20px 0px; }
      main .subscribir .newsletter .subscribe {
        text-align: center;
        font-size: 18pt;
        font-family: Lora, serif;
        letter-spacing: 1pt;
        color: #D3C6B5;
        width: 300px; }
    main .subscribir .formulario .cajas .form, main .subscribir .formulario .cajas .select {
      width: 300px;
      margin: 8px 0px 8px 0px; }
    main .subscribir .formulario .cajas .select {
      font-size: 16px;
      width: 300px;
      margin: 8px 0px 15px 0px; } }

body main .textoerror {
  margin: 150px auto auto;
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column; }
  body main .textoerror .oops {
    color: #D3C6B5;
    font-family: Lora, serif;
    font-size: 50pt;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto; }
  body main .textoerror .uia {
    color: #D3C6B5;
    font-family: Lora, serif;
    font-size: 18pt;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto 20px auto; }
  body main .textoerror .volver {
    text-decoration: underline;
    color: #D3C6B5;
    font-family: Lora, serif;
    font-size: 20pt;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto; }

@media screen and (max-width: 768px) {
  body main .textoerror {
    margin: 100px auto auto; }
    body main .textoerror .oops {
      font-size: 45pt; }
    body main .textoerror .uia {
      font-size: 16pt; } }

@media screen and (max-width: 480px) {
  body main .textoerror {
    margin: 100px auto auto; }
    body main .textoerror .oops {
      font-size: 40pt; }
    body main .textoerror .uia {
      font-size: 14pt; }
    body main .textoerror .volver {
      font-size: 18pt; } }

#preloader {
  background: #161616 url(../Assets/img/Loader.gif) no-repeat center center;
  background-size: 10%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100; }
