main{
    .uia{
        color: $claro;
        font-family: Lora, serif;
        font-size: 12pt;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px auto 20px auto;
    }
    .gatito{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    .volver{
        text-decoration: underline;
        color: $claro;
        font-family: Lora, serif;
        font-size: 20pt;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
}


