main{
    .promolatest{
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: 550px;
        grid-template-areas: 
            "cover2 info2";

        .cover2{
            grid-area: cover2;
            margin: auto auto auto 100px;
            width: 400px;
            height: auto;
        }
        .infolatest{
            grid-area: info2;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .latest{
                font-family: map-get($map: $Texto, $key: fuente);
                font-size: 50pt;
                color: map-get($map: $Texto, $key: color);
                letter-spacing: map-get($map: $Texto, $key: espaciado);
                margin: 10px;
            }
            .reproductor1{
                height: 80px;
                width: 583px;
            }
            .streamnow{
                margin: 10px;
            }
        }
    }
    @media screen and (max-width: 1200px){
        .promolatest{
            display: grid;
            grid-template-columns: 40% 60%;
            grid-template-rows: 500px;
            grid-template-areas: 
                "cover2 info2";

            .cover2{
                grid-area: cover2;
                margin: auto auto auto 100px;
                width: 350px;
                height: auto;
            }
            .infolatest{
                .latest{
                    font-family: map-get($map: $Texto, $key: fuente);
                    font-size: 40pt;
                    color: map-get($map: $Texto, $key: color);
                    letter-spacing: map-get($map: $Texto, $key: espaciado);
                    margin: 10px;
                }
                .reproductor1{
                    height: 80px;
                    width: 483px;
                }
            }
        }
    }
    @media screen and (max-width: 1025px){
        .promolatest{
            display: grid;
            grid-template-columns: 40% 60%;
            grid-template-rows: 450px;
            grid-template-areas: 
                "cover2 info2";
            margin-top: 50px;

            .cover2{
                grid-area: cover2;
                margin: auto auto auto 80px;
                width: 300px;
                height: auto;
            }
            .infolatest{
                .latest{
                    font-family: map-get($map: $Texto, $key: fuente);
                    font-size: 35pt;
                    color: map-get($map: $Texto, $key: color);
                    letter-spacing: map-get($map: $Texto, $key: espaciado);
                    margin: 10px;
                }
                .reproductor1{
                    height: 80px;
                    width: 427px;
                }
            }
        }
    }
    @media screen and (max-width: 920px){
        .promolatest{
            display: grid;
            grid-template-columns: 40% 60%;
            grid-template-rows: 400px;
            grid-template-areas: 
                "cover2 info2";
            margin-top: 30px;
            .cover2{
                grid-area: cover2;
                margin: auto auto auto 50px;
                width: 250px;
                height: auto;
            }
            .infolatest{
                .latest{
                    font-family: map-get($map: $Texto, $key: fuente);
                    font-size: 30pt;
                    color: map-get($map: $Texto, $key: color);
                    letter-spacing: map-get($map: $Texto, $key: espaciado);
                    margin: 10px;
                }
                .reproductor1{
                    height: 80px;
                    width: 372px;
                }
            }
        }
    }
    @media screen and (max-width: 768px){
        .promolatest{
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: 300px 200px;
            grid-template-areas: 
                "cover2" 
                "info2";
            margin-top: 50px;

            .cover2{
                grid-area: cover2;
                margin: auto;
                width: 300px;
                height: auto;
            }
            .infolatest{
                grid-area: info2;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .latest{
                    font-family: map-get($map: $Texto, $key: fuente);
                    font-size: 37pt;
                    color: map-get($map: $Texto, $key: color);
                    letter-spacing: map-get($map: $Texto, $key: espaciado);
                    margin-bottom: 10px;
                }
                .reproductor1{
                    height: 80px;
                    width: 470px;
                }
                .streamnow{
                    margin: 10px;
                    height: 50px;
                }
            }
        }
    }
    @media screen and (max-width: 590px){
        .promolatest{
            .infolatest{
                .latest{
                    font-family: map-get($map: $Texto, $key: fuente);
                    font-size: 32pt;
                    color: map-get($map: $Texto, $key: color);
                    letter-spacing: map-get($map: $Texto, $key: espaciado);
                    margin-bottom: 10px;
                }
                .reproductor1{
                    height: 80px;
                    width: 392px;
                }

            }
        }
    }
    @media screen and (max-width: 480px){
        .promolatest{
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: 250px 160px;
            grid-template-areas: 
                "cover2" 
                "info2";
            margin-top: 50px;

            .cover2{
                grid-area: cover2;
                margin: auto;
                width: 220px;
                height: auto;
            }
            .infolatest{
                .latest{
                    font-family: map-get($map: $Texto, $key: fuente);
                    font-size: 23pt;
                    color: map-get($map: $Texto, $key: color);
                    letter-spacing: map-get($map: $Texto, $key: espaciado);
                    margin-bottom: 10px;
                }
                .reproductor1{
                    height: 80px;
                    width: 295px;
                }
                .streamnow{
                    margin: 10px;
                    height: 40px;
                }
            }
        }
    }
    .releases{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 450px 450px;
        grid-template-areas: 
        "album1 album2 album3"
        "album4 album5 album6";
        margin-bottom: 100px;

        .stream1{
            display: flex;
            justify-content: center;
            align-items: center;

            .containerhover{
                position: relative;

                .album1{
                    grid-area: album1;
                }
                .album2{
                    grid-area: album2;
                }
                .album3{
                    grid-area: album3;
                }
                .album4{
                    grid-area: album4;
                }
                .album5{
                    grid-area: album5;
                }
                .album6{
                    grid-area: album6;
                }
                .overlay{
                   
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    color: $claro;
                    font-family: $lora;
                    text-decoration: none;
                    background: radial-gradient(circle, rgba(110, 0, 0, 0.7) 0%, rgba(22, 0, 0, 0.6) 100%);
                    font-size: 20pt;
                    letter-spacing: 1pt;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    opacity: 0;
                    transition: opacity 0.5s;

                    &:hover{
                        opacity: 1;
                    }

                }
            }
        }
    }
    @media screen and (max-width: 1200px){
        .releases{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 400px 400px;
            grid-template-areas: 
            "album1 album2 album3"
            "album4 album5 album6";
            margin-bottom: 50px;

            .stream1{
                .containerhover{
                    position: relative;

                    .album1{
                        grid-area: album1;
                        width: 300px;
                        height: auto;
                    }
                    .album2{
                        grid-area: album2;
                        width: 300px;
                        height: auto;
                    }
                    .album3{
                        grid-area: album3;
                        width: 300px;
                        height: auto;
                    }
                    .album4{
                        grid-area: album4;
                        width: 300px;
                        height: auto;
                    }
                    .album5{
                        grid-area: album5;
                        width: 300px;
                        height: auto;
                    }
                    .album6{
                        grid-area: album6;
                        width: 300px;
                        height: auto;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 1025px){
        .releases{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 350px 350px;
            grid-template-areas: 
            "album1 album2 album3"
            "album4 album5 album6";
            margin-bottom: 50px;

            .stream1{
                .containerhover{
                    position: relative;

                    .album1{
                        grid-area: album1;
                        width: 250px;
                        height: auto;
                    }
                    .album2{
                        grid-area: album2;
                        width: 250px;
                        height: auto;
                    }
                    .album3{
                        grid-area: album3;
                        width: 250px;
                        height: auto;
                    }
                    .album4{
                        grid-area: album4;
                        width: 250px;
                        height: auto;
                    }
                    .album5{
                        grid-area: album5;
                        width: 250px;
                        height: auto;
                    }
                    .album6{
                        grid-area: album6;
                        width: 250px;
                        height: auto;
                    }
                    .overlay{
                   
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        color: $claro;
                        font-family: $lora;
                        text-decoration: none;
                        background: radial-gradient(circle, rgba(110, 0, 0, 0.7) 0%, rgba(22, 0, 0, 0.6) 100%);
                        font-size: 16pt;
                        letter-spacing: 1pt;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        opacity: 0;
                        transition: opacity 0.5s;
    
                        &:hover{
                            opacity: 1;
                        }
    
                    }
                }
            }
        }
    }
    @media screen and (max-width: 920px){
        .releases{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 290px 290px;
            grid-template-areas: 
            "album1 album2 album3"
            "album4 album5 album6";
            margin-bottom: 50px;

            .stream1{
                .containerhover{
                    position: relative;

                    .album1{
                        grid-area: album1;
                        width: 200px;
                        height: auto;
                    }
                    .album2{
                        grid-area: album2;
                        width: 200px;
                        height: auto;
                    }
                    .album3{
                        grid-area: album3;
                        width: 200px;
                        height: auto;
                    }
                    .album4{
                        grid-area: album4;
                        width: 200px;
                        height: auto;
                    }
                    .album5{
                        grid-area: album5;
                        width: 200px;
                        height: auto;
                    }
                    .album6{
                        grid-area: album6;
                        width: 200px;
                        height: auto;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 768px){
        .releases{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 320px 320px 320px;
            grid-template-areas: 
            "album1 album2" 
            "album3 album4"
            "album5 album6";
            margin-bottom: 50px;
            margin-top: 50px;

            .stream1{
                .containerhover{
                    position: relative;
    
                    .album1{
                        grid-area: album1;
                        width: 250px;
                        height: auto;
                    }
                    .album2{
                        grid-area: album2;
                        width: 250px;
                        height: auto;
                    }
                    .album3{
                        grid-area: album3;
                        width: 250px;
                        height: auto;
                    }
                    .album4{
                        grid-area: album4;
                        width: 250px;
                        height: auto;
                    }
                    .album5{
                        grid-area: album5;
                        width: 250px;
                        height: auto;
                    }
                    .album6{
                        grid-area: album6;
                        width: 250px;
                        height: auto;
                    }
                    .overlay{
                       
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        color: $claro;
                        font-family: $lora;
                        text-decoration: none;
                        background: radial-gradient(circle, rgba(110, 0, 0, 0.7) 0%, rgba(22, 0, 0, 0.6) 100%);
                        font-size: 15pt;
                        letter-spacing: 1pt;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        opacity: 0;
                        transition: opacity 0.5s;
    
                        &:hover{
                            opacity: 1;
                        }
    
                    }
                }
            }
        }
    }
    @media screen and (max-width: 590px){
        .releases{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 250px 250px 250px;
            grid-template-areas: 
            "album1 album2" 
            "album3 album4"
            "album5 album6";
            margin-bottom: 50px;
            margin-top: 50px;

            .stream1{
                .containerhover{
                    position: relative;
                    .album1{
                        grid-area: album1;
                        width: 200px;
                        height: auto;
                    }
                    .album2{
                        grid-area: album2;
                        width: 200px;
                        height: auto;
                    }
                    .album3{
                        grid-area: album3;
                        width: 200px;
                        height: auto;
                    }
                    .album4{
                        grid-area: album4;
                        width: 200px;
                        height: auto;
                    }
                    .album5{
                        grid-area: album5;
                        width: 200px;
                        height: auto;
                    }
                    .album6{
                        grid-area: album6;
                        width: 200px;
                        height: auto;
                    }
                }
                
            }
        }
    }
    @media screen and (max-width: 480px){
        .releases{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 160px 160px 160px;
            grid-template-areas: 
            "album1 album2" 
            "album3 album4"
            "album5 album6";
            margin-bottom: 50px;
            margin-top: 50px;

            .stream1{
                .containerhover{
                    position: relative;
                    .album1{
                        grid-area: album1;
                        width: 140px;
                        height: auto;
                    }
                    .album2{
                        grid-area: album2;
                        width: 140px;
                        height: auto;
                    }
                    .album3{
                        grid-area: album3;
                        width: 140px;
                        height: auto;
                    }
                    .album4{
                        grid-area: album4;
                        width: 140px;
                        height: auto;
                    }
                    .album5{
                        grid-area: album5;
                        width: 140px;
                        height: auto;
                    }
                    .album6{
                        grid-area: album6;
                        width: 140px;
                        height: auto;
                    }
                    .overlay{
                       
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        color: $claro;
                        font-family: $lora;
                        text-decoration: none;
                        background: radial-gradient(circle, rgba(110, 0, 0, 0.7) 0%, rgba(22, 0, 0, 0.6) 100%);
                        font-size: 10pt;
                        letter-spacing: 1pt;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        opacity: 0;
                        transition: opacity 0.5s;
    
                        &:hover{
                            opacity: 1;
                        }
    
                    }
                }
                
            }
        }
    }
}

