main{
    .subscribir{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 86px 0px 85px 0px;

        .newsletter{
            display: flex;
            justify-content: center;
            margin: 0px 0px 50px 0px;

            .subscribe{
                font-size: 30pt;
                font-family: map-get($map: $Texto, $key: fuente);
                letter-spacing: map-get($map: $Texto, $key: espaciado);
                color: map-get($map: $Texto, $key: color);
            }
        }

        .formulario{
            position: relative;
            margin: auto;
    
            .cajas{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
    
                .form{
                    @include boton;
                    background-color: $rojo;
                    border: 0px;
                    height: 60px;
                    width: 420px;
                    min-width: 140px;
                    -moz-box-shadow: inset 0 0 10px #220000;
                   -webkit-box-shadow: inset 0 0 10px #220000;
                   box-shadow: inset 0 0 10px #220000;
                   margin: 10px 0px 10px 0px;
                }
                .select{
                    @extend .form;
                }
                .checkbox{
                    font-family: map-get($map: $Texto, $key: fuente);
                    font-size: 9pt;
                    color: map-get($map: $Texto, $key: color);
                    position: relative;
    
                    .check{
                        vertical-align: middle;
                        margin: 10px 0px 10px 0px;
                    }
                }
                
            }
        }
    }
    .clearsend{
        display: flex;
        flex-direction: row;
        justify-content: center;

        .boton2 {
            align-items: center;
            background-color: $negro;
            border: 2px solid $negro;
            box-sizing: border-box;
            color: map-get($map: $Texto, $key: color);
            cursor: pointer;
            display: inline-flex;
            fill: $negro;
            font-family: map-get($map: $Texto, $key: fuente);
            font-size: 20px;
            font-weight: 600;
            height: 48px;
            justify-content: center;
            letter-spacing: map-get($map: $Texto, $key: espaciado);
            line-height: 24px;
            min-width: 140px;
            outline: 0;
            padding: 0 17px;
            text-align: center;
            text-decoration: none;
            transition: all .3s;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            margin: 20px 10px 20px 10px;

            &:hover{
                background-color: $oscuro;
                border-color: $oscuro;
                fill: $oscuro;
            }
        }
    }

    @media screen and (max-width: 1025px){
        .subscribir{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: 382px 0px 382px 0px;
        }
    }
    @media screen and (max-width: 768px){
        .subscribir{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: 228px 0px 228px 0px;

            .newsletter{
                display: flex;
                justify-content: center;
                margin: 0px 0px 30px 0px;

                .subscribe{
                    font-size: 26pt;
                    font-family: map-get($map: $Texto, $key: fuente);
                    letter-spacing: map-get($map: $Texto, $key: espaciado);
                    color: $claro;
                }
            }
            .formulario{
                .cajas{
                    .form{
                        font-size: 18px;
                        width: 390px;
                        margin: 8px 0px 8px 0px;
                    }
                    .select{
                        font-size: 18px;
                        width: 390px;
                        margin: 8px 0px 15px 0px;
                    }
                }
            }
            .clearsend{
                .boton2 {
                    font-size: 18px;
                    height: 46px;
                    min-width: 120px;
                    margin: 20px 10px 20px 10px;
                }
            }
        }
    }
    @media screen and (max-width: 625px){
        .subscribir{
            .newsletter{
                .subscribe{
                    text-align: center;
                    font-size: 22pt;
                    font-family: map-get($map: $Texto, $key: fuente);
                    letter-spacing: map-get($map: $Texto, $key: espaciado);
                    color: map-get($map: $Texto, $key: color);
                }
            }
        }
    }
    @media screen and (max-width: 480px){
        .subscribir{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: 150px 0px 150px 0px;

            .newsletter{
                display: flex;
                justify-content: center;
                margin: 0px 0px 20px 0px;

                .subscribe{
                    text-align: center;
                    font-size: 18pt;
                    font-family: map-get($map: $Texto, $key: fuente);
                    letter-spacing: map-get($map: $Texto, $key: espaciado);
                    color: map-get($map: $Texto, $key: color);
                    width: 300px;
                }
            }
            .formulario{
                .cajas{
                    .form{
                        width: 300px;
                        margin: 8px 0px 8px 0px;
                    }
                    .select{
                        font-size: 16px;
                        width: 300px;
                        margin: 8px 0px 15px 0px;
                    }
                }
            }
        }
    }
}
