// Variables
$claro:#D3C6B5;
$oscuro:#92836F;
$negro:#161616;
$rojo:#460303;
$lora: Lora, serif;

//Map
$Texto: (
    color: $claro,
    fuente: $lora,
    espaciado: 1pt,
    puntos: 16pt,
);

//Mixin
@mixin boton {
    align-items: center;
    background-color: $negro;
    border: 2px solid $negro;
    box-sizing: border-box;
    color: map-get($map: $Texto, $key: color);
    cursor: pointer;
    display: inline-flex;
    fill: $negro;
    font-family: map-get($map: $Texto, $key: fuente);
    font-size: 20px;
    font-weight: 600;
    height: 48px;
    justify-content: center;
    letter-spacing: map-get($map: $Texto, $key: espaciado);
    line-height: 24px;
    min-width: 80px;
    outline: 0;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

//CSS gral
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}
body{
    background-image: url(../Assets/img/fondo.jpg);
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
button {
    @include boton;

    &:hover{
        background-color: $oscuro;
        border-color: $oscuro;
        fill: $oscuro;
    }
}
@media screen and (max-width: 1200px){
    button {
        font-size: 15px;
      }
}
@media screen and (max-width: 1025px){
    button {
        font-size: 12px;
        height: 40px;
      }
}
@media screen and (max-width: 768px){
    button {
        font-size: 10px;
        height: 35px;
        line-height: 15px;
        min-width: 50px;
        padding: 0 14px;
      }
}
@media screen and (max-width: 625px){
    button {
        font-size: 9px;
        height: 30px;
        padding: 0 17px;
      }
}
@media screen and (max-width: 480px){
    button { 
        font-size: 7px;
        height: 25px;
      }
}

//imports

@import "header";

@import "footer";

@import "index";

@import "music";

@import "video";

@import "tour";

@import "news";

@import "error";